## For Loops

In [1]:
seq = [1,2,3,4,5]

for num in seq:
    print(num)

1
2
3
4
5

## while Loops

In [2]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

## range()

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [4]:
list(range(5))

[0, 1, 2, 3, 4]

## list comprehension

In [5]:
x = [1,2,3,4]

out = []

for num in x:
    out.append(num**2)

print(out)

[1, 4, 9, 16]

is equivalent to

In [6]:
[num**2 for num in x]

[1, 4, 9, 16]

## functions

In [10]:
def my_func(name='Ayesha'):
    print('Hello ' +name)

my_func()
my_func('Shrikant')
my_func(name='Ayan')

Hello Ayesha
Hello Shrikant
Hello Ayan

In [13]:
def square(num):
    """
    THIS FUNCTION SQUARES A NUMBER
    """
    return num**2

output = square(3)
print("Output is", output)

Output is 9

## lambda, map and filters

In [1]:
def times2(var):
    return var*2

times2(2)

4

is equivalent to

In [3]:
t = lambda var: var*2
t(2)

4

In [6]:
seq = [1,2,3,4,5]

print(list(map(times2, seq)))

list(map(lambda num: num * 3, seq))

[2, 4, 6, 8, 10]

[3, 6, 9, 12, 15]

In [7]:
list(filter(lambda num : num%2 == 0, seq))

[2, 4]

## methods

In [8]:
s = 'hello my name is Sam'
print(s.lower())
print(s.upper())
print(s.split())

hello my name is sam
HELLO MY NAME IS SAM
['hello', 'my', 'name', 'is', 'Sam']

In [9]:
tweet = 'Go Sports! #Sports'
tweet.split('#')

['Go Sports! ', 'Sports']

In [11]:
tweet.split('#')[1]

'Sports'

In [12]:
d = {'k1': 'has'}

print(d.keys())
print(d.items())
print(d.values())

dict_keys(['k1'])
dict_items([('k1', 'has')])
dict_values(['has'])

In [13]:
lst = [1,2,3]
lst.pop()
lst

[1, 2]

In [14]:
'x' in [1,2,3]

False

In [16]:
'x' in ['x','y','z']

True

In [20]:
x = [(1,2), (3,4), (5,6)]
print(x[0][0])
print(x[0][1])
print(x[2])

1
2
(5, 6)

In [21]:
for (a,b) in x:
    print(a)
    print(b)

1
2
3
4
5
6